body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tab-container{
    width:400px;
    margin:100px auto;
}

.tab-buttons{
    display: flex;
}

.tab-btn{
    flex:1;
    padding: 10px;
    cursor: pointer;
    background: #ddd;
    border: none;
}

.tab-btn.active{
    background: black;
    color:white;
}

.tab-content{
    display: none;
    padding:20px;
    background: white;;
}

.tab-content.active{
    display: block;
}