* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(#4f4f4f, #2f32df);
  min-height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome / Edge / Safari */
}

a {
  text-decoration: none;
  color: aliceblue;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;

  background: rgba(10, 20, 50, 0.35);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  list-style-type: none;
}

.nav-ele {
  border: 0.01rem solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.9rem;
  transition: transform 0.3s ease;
  display: inline-block;
}

.nav-ele:hover {
  background-color: white;
  color: black;
  transform: scale(1.5);
}

.container {
  position: relative;
  height: 120vh;
  overflow: hidden;
}
.stars {
  position: absolute;
  inset: 0;
  background: url("/img/stars.png") center/cover no-repeat;
  z-index: 1;
}

.moon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;

  background: url("/img/moon.png") center/cover no-repeat;
  z-index: 2;
}

.front {
  position: absolute;
  bottom: 0;
  width: 100%;

  background: url("/img//mountains_front.png") bottom/contain no-repeat;
  height: 100%;
  z-index: 9;
}

.behind {
  position: absolute;
  bottom: 50px;
  width: 100%;

  background: url("/img//mountains_behind.png") bottom/contain no-repeat;
  height: 100%;
  z-index: 8;
}

.info {
  min-height: 100vh;
  background: url("/img/stars.png") bottom/cover no-repeat;
  backdrop-filter: blur(5px);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4rem 10%;
}

/* for animation */

.stars,
.moon,
.front,
.behind {
  will-change: transform;
}

.definition {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;

  background: linear-gradient(90deg, #a8bbdd, #d1aff0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  line-height: 1.1;
  margin: 0 auto;
  text-align: left;
  color: #ffffff;
  line-height: 1.3;
  font-weight: 500;
}

/* scrollbar */

.scroll-indicator {
  position: fixed;
  left: 15px;
  top: 10vh;
  width: 4px;
  height: 0;

  background: linear-gradient(#9965f1, #031a3d);
  border-radius: 10px;

  transition: height 0.1s linear;

  box-shadow: 0 0 10px rgba(124, 58, 237, 0.7);

  z-index: 9999;
}
