* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 100vw;
  margin: 100px auto;
}

.item {
  background: white;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
/* 
  display: flex;
  align-items: center;
  justify-content: space-between; */
}

.question {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  background: #eee;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer {
  
  max-height:0;
  overflow: hidden;
  transition: max-height 0.4s ease,padding 0.4s ease;

  padding: 0 15px;
}

.item.active .answer {
  max-height: 200px;
  padding: 15px;
}

.question::after{
  content:"+";
  font-size: 20px;
  font-weight: bold;
}


.item.active .question::after{
  content:"-";
}